<h1>Edit the stylist name:</h1>

<form action='/stlylists/@Model["stylist"].GetId()' method="post">
    <label for="newName">Name:</label>
    <input type="text" name="newName" value='@Model["stylist"].GetName()'>
</form>